/*
 * Embedding web fonts
 */

@font-face {
    font-family: 'kionaregular';
    src: url('../fonts/kiona-2/kiona-regular-webfont.woff2') format('woff2'),
         url('../fonts/kiona-2/kiona-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 
 * General settings for the website
 * Setting fonts for the entire site
 * Setting default background and text colour for the site body
 * Some other site wide settings
 */
* {
    box-sizing: border-box;
}


html {
    font-family: "kionaregular", Helvetica, Arial, sans-serif;
    line-height: 1.5em;
}

body {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;

    background-color: #1d1d20;
    color: #d1d1d1;

    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*
 * Setting size and display type for the 2 inner box where all the contents are
 */

.inner {
    padding: 10px;

    height: 100vh;
    max-height: 768px;

    width: 100vw;
    max-width: 1024px;

    display: flex;
}

.inner-container {
    padding: 20px;

    flex-basis: 100%;

    user-select: none;
}

/*
 * Settings for header
 * This includes the site's main heading and external links to github and email
 */

header {
    height: 150px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 
 * Main heading
 */

h1 {
    font-size: 5em;
}

/*
 * External links
 */

.contact {
    display: flex;
    list-style-type: none;
    padding: 0;

    align-items: center;
    justify-content: space-evenly;
}

.icons {
    width: 2em;
    height: 2em;

    margin: 0 1em;
}

.icons:hover {
    transform: scale(1.2);
}

/*
 * Settings for the main content box
 * This includes the main article and the nav bar
 */

main {
    display: flex;
    align-items: center;
    justify-content: center;

    height: calc(100% - 200px);
}

/*
 * Settings for size and position of the nav bar and also the visual of the links
 */ 

aside {
    width: 30%;

    padding: 0 3em 0 1em;
    text-align: right;

    hyphens: auto;
}

nav ul {
    list-style-type: none;
    
    display: flex;
    flex-direction: column;

    padding: 0;
}

nav li {
    font-size: 1.25em;
    padding: 0.5em;
    margin: 1em 0;
}

nav a {
    text-decoration: underline;
    text-underline-offset: 0.5em;

    color: #d1d1d1;
}

nav a:hover {
    font-weight: bolder;
}

/*
 * Settings for size and position of the main article
 */ 

article {
    border-left: 0.2em solid #d1d1d1;
    padding-left: 1em;

    width: 70%;
    min-height: 264px;
}

h2 {
    text-decoration: underline;
    text-underline-offset: 0.5em;
}

/*
 * Settings for footer copyright text
 */

footer {
    height: 50px;
    text-align: right;
    font-size: 1em;

    padding: calc(25px - 1em) 0;
}